<header class="page-header">
  <h1>About us</h1>
</header>

<br>
<p>Jungle is a web store where you can find anything.... A-N-Y-T-H-I-N-G!!!</p>
<br>
<p>Our location is supersecret, so we will not tell you. But we are real. Really real.</p>
<br>
<p>If you need,  <%= mail_to "jungle@fakeemail.com", "contact us" %>. But only if you need. We are probably busy playing cards.</p>